/*-- scss:defaults --*/


/*-- scss:rules --*/

.small-title{
    font-weight: bolder;
}

.green{
    color: rgb(99, 180, 58);
}

.blue{
    color: rgb(66, 126, 220)
}

.orange{
    color: rgb(238, 125, 55);
}