---
---
<div id="{{key}}">
  <font style="color:red;">(preprint)</font>
  {{reference}}
  <br>
  {% if entry.journal == "CoRR" %}
  <a href="http://arxiv.org/{{entry.volume}}"><button type="button">ArXiv</button></a>
  {% endif %}
  <button type="button" data-toggle="collapse" data-target="#{{key}}-bibtex">BibTeX</button>
  {% for static_file in site.static_files %}
  {% if static_file.basename == {{key}} %}
        <a href="/pdf/{{key}}.pdf"><button type="button">pdf</button></a>
  {% endif %}
  {% endfor %}
  <pre id="{{key}}-bibtex" class="collapse">{{entry.bibtex}}</pre>
</div>
<br>
